[submodule "client/vite-project"]
	path = client/vite-project
	url = https://github.com/Siddharth2k14/online-exam-portal-client.git
[submodule "server"]
	path = server
	url = https://github.com/Siddharth2k14/online-exam-portal-server.git
