name: frontend CI/CD

on:
    push:
        branches: [ main, testing ]
    pull_request:
        branches: [ main, testing ]

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 22
            
            - name: Install Dependencies
              working-directory: ./client/vite-project
              run: npm ci

            - name: Lint code
              working-directory: ./client/vite-project
              run: npm run lint

            - name: Run tests
              working-directory: ./client/vite-project
              run: npm test -- --watchAll=false

            - name: Build project
              working-directory: ./client/vite-project
              run: npm run build
    
    deploy:
        needs: build-and-test
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Install Vercel CLI
              run: npm install -g vercel

            # Deploy to Staging (when pushing to 'testing' branch) 
            - name: Deploy to Staging
              if: github.ref == 'refs/heads/testing'
              run: vercel --prod=false --token=${{ secrets.VERCEL_TOKEN }} --scope=${{ secrets.VERCEL_ORG_ID }} --yes --cwd ./client/vite-project

            # Deploy to Production (when pushing or merging to 'main' branch)
            - name: Deploy to Production
              if: github.ref == 'refs/heads/main'
              run: |
                echo "Deploying to Production..."
                vercel --prod --token=${{ secrets.VERCEL_TOKEN }} --scope=${{ secrets.VERCEL_ORG_ID }} --yes --cwd ./client/vite-project
                echo "Also deploying to Staging..."
                vercel --prod=false --token=${{ secrets.VERCEL_TOKEN }} --scope=${{ secrets.VERCEL_ORG_ID }} --yes --cwd ./client/vite-project