name: Notify Main Repo CI

on:
    push:
        branches:
            - main
            - testing

jobs:
    notify:
        runs-on: ubuntu-latest
        steps:
        - name: Send dispatch event to main repo
          run: |
            curl -X POST \
            -H "Authorization: Bearer ${{ secrets.MAIN_REPO_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/Siddharth2k14/Online-Exam-Portal-Main/dispatches \
            -d '{"event_type": "client_updated", "client_branch": "${{ github.ref_name }}"}'